<%= form_with model: article do |form| %>
  <div class = "form-container">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div class = "form-container">
    <%= form.label :short_text %><br>
    <%= form.text_area :short_text %><br>
    <% article.errors.full_messages_for(:short_text).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class = "form-container">
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class = "form-container">
    <%= form.submit %>
  </div>
<% end %>
