<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class="errors"><%= message %></div>
    <% end %>
    <%= form.text_field :title %>
  </div>

    <div>
    <%= form.label :short_text %><br>
    <% article.errors.full_messages_for(:short_text).each do |message| %>
      <div class="errors"><%= message %></div>
    <% end %>
    <%= form.text_area :short_text %><br>
  </div>

  <div>
    <%= form.label :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div class="errors"><%= message %></div>
    <% end %>
    <%= form.text_area :body %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
