<h1>The legends of Kalamatian souvlakia</h1>

<div id = "description-container">
    <div class = "description">
        <p> This webpage features the tales about 
        the legendary souvlakia of Kalamata - exactly <%= @articles.count%> distinct stories of souvlakia 
        you can discover all around Kalamata. Dive in into the stories of souvlakia
        and learn everything about them yourself!</p>
    </div>
    <%= image_tag "greek_pita.png", height: 250 %>
</div>
<div class = "posts-container">
    <ul class = "articles">
        <% @articles.each do |article| %>
            <li>
            <%= link_to article.title, article %>
            <p class= "short-text"><%= article.short_text %></p>
            </li>
        <% end %>
    </ul>
</div>

<div class = "buttons-centered">
    <%= link_to '<button type="button">Add new</button>'.html_safe, new_article_path %>
</div>