<h1><%= @article.title %></h1>

<div class = "buttons-centered">
<%= link_to '<button type="button">Main Page</button>'.html_safe, articles_path %>
</div>
<div class = "posts-container">
    <p class = "body-text"><%= @article.body %></p>
</div>
<ul class = "buttons-centered">
  <li><%= link_to '<button type="button">Edit</button>'.html_safe, edit_article_path(@article) %></li>
  <li><%= link_to '<button type="button">Delete</button>'.html_safe, article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
